<%= form_with model: question do |form| %>
  <% invalid = question.errors.include?(:question) %>
  <div class="form-group <%= 'has-danger' if invalid %>">
    <%= form.label :question %>
    <%= form.text_field :question, class: "form-control #{'is-invalid' if invalid}" %>
    <% if invalid %>
      <div class="invalid-feedback d-block">
        <% question.errors.full_messages_for(:question).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>

  <% invalid = question.errors.include?(:answer) %>
  <div class="form-group <%= 'has-danger' if invalid %>">
    <%= form.label :answer %>
    <%= form.text_field :answer, class: "form-control #{'is-invalid' if invalid}" %>
    <% if invalid %>
      <div class="invalid-feedback d-block">
        <% question.errors.full_messages_for(:answer).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Question', class: 'btn btn-primary' %>
    <button type="button" class="close float-none align-middle text-danger px-2 py-1" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<script>
  $(".close").on("click", function() {
    $('#question-form').empty();
    $('#new-link').show();
    $('#flash-messages').empty();
  });
</script>