<!DOCTYPE html>
<html>
  <head>
    <title>QuizMaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    
    <div id="main">
      <div id="flash-messages">
        <%= render "shared/flash" %>
      </div>

      <div class="" id="content">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
  </body>
</html>
